.container
  %h1 Heloooooo you
  %h2 Welcome to my page for real
  %p Find me in app/views/static_pages/landing_page.html.erb
  = link_to privacy_policy_path, class: "btn btn-warning" do
    .fa.fa-file
    Privacy Policy
  = link_to courses_path, class: "btn btn-success" do 
    .fa.fa-book
    Course
  
  