- content_for :title do
  UdemyClone
  \| 
  Edit
  = @course.title
.card
  .card-header
    %h3 
      .fa.fa-graduation-cap
      New course
  .card-body
    = render 'form'
  .card-footer
    = link_to 'Show', @course
    \|
    = link_to 'Back', courses_path
