.text, .text-right{
	font-size: 1em;
	color: grey !important;
	margin-bottom: 10px;
}
.card-header {
	width: 100%;
}

.card-text-custom {
	margin-bottom: 10px;
}
.card {
	border: 1px solid transparent;
	box-shadow:0px 0px 0px 2px #E5E5E5 inset;
	border-bottom: none;
}
.card-header {
	border: none;
}
.card-title {
	font-size: 1.4em;
}
.card-title a {
	text-decoration: none;
}
.card-text {
	font-size: 1.0em;
}
 h1 {
	color: #610b0b;
}
.green {
	color: green;
}
.collection_radio_buttons  {
	margin: 0 10px;
}

/*to remove check mark on input fields */
.form-control.is-invalid{ background-image: none; }
.form-control.is-valid{ background-image: none; }
.form-select.is-invalid{ background-image: none; }
.form-select.is-valid{ background-image: none; }
/*to remove check mark on input fields */